@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<h3>Goal</h3>
<p>This website was created in order to best learn ASP.NET MVC (3 and onwards) and put these learnings into practice.</p>

